@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat:wght@700;900&family=Poppins:wght@400;500;600;700&display=swap');

body {
    background: #ffffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    min-height: 100vh;
}

.active,
a:hover,
.nav-item a:focus {
    color: #FFC814 !important;
}

.navbar-brand {
    font-weight: 600;
}

label {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1F3347;
}

input,
select {
    background: #FFFFFF;
    box-shadow: 0px 6px 24px #E4E2EE;
    border-radius: 4px;
}

input.form-control,
select.form-select,
textarea.form-control {
    color: #70717B;
}

.form-control:focus,
.form-select:focus {
    border-color: #FFC814;
    box-shadow: 0px 6px 24px rgba(255, 200, 20, 0.4);
}

.btn-yellow {
    background: #FFC814;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 18px;
    max-height: 56px;
    color: #22283C;
    transition: all 0.2s ease-out;
    font-family: 'Poppins';
}

.btn-yellow:hover {
    border: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.865983893557423) 0%, rgba(255, 200, 20, 1) 100%);
}

.btn-yellow:active {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.865983893557423) 0%, rgba(255, 200, 20, 1) 100%);
}

.button:focus:not(:focus-visible) {
    border: 0;
}

.card-title {
    font-weight: 700;
    text-transform: capitalize;
}

.create-apartment,
.create-room {
    min-height: calc(100vh - 230px - 83px);
}

/*header*/
.notification-img {
    width: 30px;
}

.notification .dropdown-toggle::after {
    border: 0;
}

.notification span {
    top: 7px;
    left: 25px;
    padding: 6px;
}

.dropdown-menu {
    padding: 0;
}

/*======HOME=======*/
.banner {
    background: url("/img/bg-header5.jpg") no-repeat;
    height: 900px;
    background-size: cover;
}

.banner-with {
    font-family: 'Marck Script', cursive;
    font-size: 54px;
    color: #FFC814;
    line-height: 0px;
}

.banner-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 62px;
}

.banner-title {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 96px;
    line-height: 92px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #ffffff;
}

.banner-title:hover {
    -webkit-text-stroke: 2px #FFC814;
}

/*search*/
.search {
    margin-top: -55px;
}

.search .container {
    background: #ffffff;
    box-shadow: 0px 6px 24px #E4E2EE;
}

.search .btn-yellow {
    box-shadow: 0px 6px 24px rgba(255, 200, 20, 0.4);
    margin-top: 28px;
}

/*about*/
.about {
    margin-top: 150px;
    margin-bottom: 140px;
}

.about-img {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    width: 1071px;
    height: 749px;
}

.about .container {
    max-width: 642px;
    padding-top: 135px;
    margin-left: 45%;
}

.about-block {
    background: #EDEDED;
    border-radius: 10px;
    padding: 60px 75px;
}

.about-title,
.filter-title {
    color: #FFC814;
}

/*search-result*/
.accordion-item {
    border: 0;
    background-color: unset;
    border-bottom: 1px solid #EDEDED;
}

.accordion-button:not(.collapsed) {
    color: #282828;
    background-color: unset;
}

.accordion-button {
    background: unset;
}

.accordion-button::after {
    background-image: url('/img/plus-y-2.png');
    width: 1.5em;
    height: 1.5em;
    background-size: 1.5em;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('/img/minus.png');
    width: 1.25em;
    height: 1.25em;
    background-size: 1.25em;
}

/*===USER BOOKING===*/
.user-booking .card-img-overlay {
    top: 220px;
}

.user-booking .card-img-overlay .card-text {
    background: #1010105e;
    color: #FFFFFF;
}

/*======FOOTER======*/
footer {
    background: #EDEDED;
}

.footer-img {
    width: 130px;
    height: 114px;
}

footer li {
    list-style-type: none;
}

footer li .nav-link {
    color: #1F3347;
}
